* {
    font-family: 'Cormorant SC', serif;
    margin: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: red;
    border: 1px solid red; /* all at once */
    border-radius: 10px; /* rounded corners */
    
}

h1 {
    color: blue;
    position: absolute;
    left: 12%;
    top: 25%;
    margin: 0;
}

h2 {
    color: red;
}

p {
    color: purple;
}

a {
    color: green;
}

body {
    background: gold;
 }
header {
    background: blueviolet;
    position: relative;
    height: 100px;
    width: 400px;
    padding: 0px;

 }
nav {
    background: greenyellow ;
 }
main { 
    background: peru ;
}
footer {
    background: indianred ;
    text-align: center;
    padding: 0.25%;
 }

.number1{
    color: blue;

 }
.number2{
    font-weight: lighter,normal,bold,bolder,900;
    color: brown;
}
.number3{
    font-style: normal, italic;
    color: aqua;
}

img{
    display: block;
    margin:auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    width: 1000px;
    height: 300px;
    object-fit: cover;
    object-position: 0% 8%;
    border-radius:10px ;
    box-shadow: 0 8px 16px 4px darkslategrey;
}
#text1{
    text-shadow:2px 8px darkslategray;
}
figure{
    display: inline-block;
    position: relative;
}

#img1{
filter: blur(5px);
}
#img2{
    filter: hue-rotate(90deg) ;
}
#img3{
    filter:brightness(150%) ;
}
#img4{
    filter:contrast(200%) ;
}
#img5{
    filter: invert();
}
#img6{
    filter:saturate(200%) ;
}
#img7{
    filter:sepia(80%) ;
}
#img8{
    filter: grayscale() ;
}
#img9{
    filter: grayscale() sepia() saturate(500%) hue-rotate(50deg);
}
#img10{
    filter: invert() hue-rotate(90deg);
}
#img11{
    filter: blur(5px) hue-rotate(90deg);
}
#img12{
    filter: opacity(10%);
}

figcaption{
    position: absolute;
    z-index: 100;
    color: black;
    left: 35%;
    right: 35%;
    top: 80%;
    margin: 0;
    background-color: white;
    text-align: center;
}